<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="NickName" value="YhDotNext"/>
    <add key="UserName" value="YhDotNext"/>
    <add key="RealName" value="YhDotNext"/>
  </appSettings>

</configuration>
